.load__spinner{
  font-size: 24px;
  display: none;
}


/* scrollbar */

::-webkit-scrollbar {
  width: 10px; 
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #b1b1b1; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/* qwertyuiop */

.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #034aa6;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.fa-toggle-on,
.fa-toggle-off {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.fa-toggle-off {
  left: 25%;
  color: grey;
}

.fa-toggle-on {
  left: 75%;
  color: #034aa6;
  display: none;
}

input:checked ~ .fa-toggle-on {
  display: block;
}

input:checked ~ .fa-toggle-off {
  display: none;
}

/* qwertyuiop */

